# # Miscellaneous
# *.class
# *.log
# *.pyc
# *.swp
# .DS_Store
# .atom/
# .buildlog/
# .history
# .svn/
# migrate_working_dir/
# .env
# # IntelliJ related
# *.iml
# *.ipr
# *.iws
# .idea/

# # Backend related
# Backend/node_modules/
# Backend/.env

# # Ignore the generated build files
# Frontend/build/
# Frontend/.dart_tool/
# Frontend/.packages
# Frontend/.flutter-plugins
# Frontend/.flutter-plugins-dependencies
# Frontend/.idea/
# Frontend/.vscode/

# # Ignore the ios and android build directories (can be rebuilt from source):

# # The .vscode folder contains launch configuration and tasks you configure in
# # VS Code which you may wish to be included in version control, so this line
# # is commented out by default.
# #.vscode/

# # Flutter/Dart/Pub related
# **/doc/api/
# **/ios/Flutter/.last_build_id
# .dart_tool/
# .flutter-plugins
# .flutter-plugins-dependencies
# .pub-cache/
# .pub/
# /build/

# # Symbolication related
# app.*.symbols

# # Obfuscation related
# app.*.map.json

# # Android Studio will place build artifacts here
# /android/app/debug
# /android/app/profile
# /android/app/release
# modelSpecNew.onnx


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Backend related
Backend/node_modules/
Backend/.env

# Ignore Flutter build files
Frontend/build/
Frontend/.dart_tool/
Frontend/.packages
Frontend/.flutter-plugins
Frontend/.flutter-plugins-dependencies
Frontend/.idea/
Frontend/.vscode/

# Flutter/Dart related
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/doc/api/
**/ios/Flutter/.last_build_id

# iOS and Android build artifacts
Frontend/ios/Flutter/Flutter.framework
Frontend/ios/Flutter/App.framework
Frontend/ios/Flutter/engine/
Frontend/android/.gradle/
Frontend/android/.idea/
Frontend/android/app/build/
Frontend/android/local.properties

# Symbolication and Obfuscation related
app.*.symbols
app.*.map.json

# Large model files
modelSpecNew.onnx
