
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Backend related
Backend/node_modules/
Backend/.env

# Ignore Flutter build files
Frontend/build/
Frontend/.dart_tool/
Frontend/.packages
Frontend/.flutter-plugins
Frontend/.flutter-plugins-dependencies
Frontend/.idea/
Frontend/.vscode/

# Flutter/Dart related
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/doc/api/
**/ios/Flutter/.last_build_id

# iOS and Android build artifacts
Frontend/ios/Flutter/Flutter.framework
Frontend/ios/Flutter/App.framework
Frontend/ios/Flutter/engine/
Frontend/android/.gradle/
Frontend/android/.idea/
Frontend/android/app/build/
Frontend/android/local.properties

# Symbolication and Obfuscation related
app.*.symbols
app.*.map.json

# Large model files
modelSpecNew.onnx
.bashrc
.vscode